* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 75vh;
  width: 75%;
  margin: 0 auto;
}

.box {
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 75%;
  margin: 0 auto;
  width: 75%;
}
